<!DOCTYPE html>
<html lang="zh-CN" class="ua-mac ua-webkit">
  <head>
    <title>5291 进销存管理系统</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="css/reset.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="css/wms.css") }}'>
  </head>
  <body>
    <header>
      <div class="orange"></div>
      <div class="nav">
        <div class="left">
          <img width="50px" height="50px" src="{{ url_for("static",filename="images/logo.png") }}" />
        </div>
        <div class="center">
          <img width="50px" height="50px" src="{{ url_for("static",filename="images/logo.png") }}" />
        </div>
        <div class="right">
          <img width="50px" height="50px" src="{{ url_for("static",filename="images/logo.png") }}" />
        </div>
      </div>
    </header>
    <div class="main">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src='{{ url_for("static",filename="js/jquery-1.11.0.min.js") }}'></script>
    </body>
</html>
