<!DOCTYPE html>
<html lang="zh-CN" class="ua-mac ua-webkit">
  <head>
    <title>5291进销存管理系统</title>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="css/reset.css") }}'>
    <link rel="stylesheet" type="text/css" href='{{ url_for("static",filename="css/wms.css") }}'>
    <script type="text/javascript" src='{{ url_for("static",filename="js/jquery-1.11.0.min.js") }}'></script>
    <script type="text/javascript" src='{{ url_for("static",filename="js/wms.js") }}'></script>
    <script type="text/javascript">
      $(document).ready(function(){
        close_message();
      });
</script>
    </script>
  </head>
  <body>
    <header>
      <div class="orange"></div>
      <div class="nav">
        <div class="left">
          <a class="menu" href="/a/queue/"></a>
        </div>
        <div class="center">
          <a class="app-title" href="/">
            5291进销存管理系统
          </a>
        </div>
        <div class="right">
          <img width="50px" height="50px" src="{{ url_for("static",filename="images/logo.png") }}" />
        </div>
      </div>
    </header>
    <div class="main">
      <div class="message">
        {% for status, message in get_flashed_messages(with_categories=True) %}
        {% if status == "error" %}
        <div class="item error">{{ message }}</div>
        {% else %}
        <div class="item">{{ message }}</div>
        {% endif %}
        {% endfor %}
      </div>
      {% block body %}{% endblock %}
    </div>
    </body>
</html>
