{% extends "basic.html" %}
{% block body %}
<div class="item-list">
    <h1>库存状态</h1>
    <hr/>
    <table>
      <thead>
        <tr>
          <td width="15%">商品编号</td>
          <td width="20%">商品名称</td>
          <td colspan="6">尺码</td>
          <td width="15%">总量</td>
          <td width="20%">上次进货时间</td>
        </tr>
      </thead>
      <tbody>
        <tr class="size">
          <td colspan="2"></td>
          <td width="5%">XS</td>
          <td width="5%">S</td>
          <td width="5%">M</td>
          <td width="5%">L</td>
          <td width="5%">XL</td>
          <td width="5%">XXL</td>
          <td colspan="2"></td>
        </tr>
        {% for item in items %}
        <tr>
          <td>{{ item }}</td>
          <td>{{ items[item]['info'].description }}</td>
          <td>{{ items[item]['XS'] }}</td>
          <td>{{ items[item]['S'] }}</td>
          <td>{{ items[item]['M'] }}</td>
          <td>{{ items[item]['L'] }}</td>
          <td>{{ items[item]['XL'] }}</td>
          <td>{{ items[item]['XXL'] }}</td>
          <td>{{ items[item]['XS'] + items[item]['S'] + items[item]['M'] + items[item]['L']+ items[item]['XL']+ items[item]['XXL'] }}</td>
          <td>{{ items[item]['info'].last_update }}</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
</div>
{% endblock %}
