{% extends "basic.html" %}
{% block bodyleft %}
<div class='panel panel-info'>
  <div class="panel-heading">基本信息</div>
  <div class="panel-body">
    <p>
      商品条目：{{ basic['all-items'] }}
    </p>
    <p>
      库存总量：{{ basic['all-storages'] }}
    </p>
    <hr/>
    <a class='btn btn-primary' href='{{ url_for("items.sell") }}'>出货</a>
  </div>
</div>
{% endblock %}

{% block bodyright %}
<div class="item-list">
    <h1>库存状态</h1>
    <hr/>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr class='success' align='center'>
          <td width="15%">商品编号</td>
          <td width="20%">商品名称</td>
          <td colspan="6">尺码</td>
          <td width="15%">总量</td>
          <td width="20%">上次进货时间</td>
        </tr>
      </thead>
      <tbody>
        {% for item in storage['items'] %}
        <tr class="size success" align='center'>
          <td colspan="2"></td>
          {% for i in storage['items'][item]['columns'] %}
          <td width="5%">{{ i.size }}</td>
          {% endfor %}
          <td colspan="2"></td>
        </tr>
        <tr align='center'>
          <td>{{ storage['items'][item]['number'] }}</td>
          <td>{{ storage['items'][item]['description'] }}</td>
          {% for i in storage['items'][item]['columns'] %}
          <td width="5%">{{ i.amount }}</td>
          {% endfor %}
          <td>{{ storage['items'][item]['sum']}}</td>
          <td>{{ storage['items'][item]['last_update'] }}</td>
        </tr>
        {% else %}
        <tr align='center'>
          <td colspan='10'>暂无数据</td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
</div>
{% endblock %}
