{% extends "basic.html" %}
{% block body %}
<div class="content">
  <h1>订单：{{ order.number }} 详情</h1>
  <hr/>
  <div>
    <span>订单号：{{ order.number }}</span>
    <span>下单时间：{{ order.date }}</span>
  </div>
  <table width="100%" class="table">
    <thead>
      <tr>
        <td width="10%">商品编号</td>
        <td width="20%">商品名称</td>
        <td colspan="6">尺寸</td>
        <td width="10%">总量</td>
        <td width="10%">销售价(RMB)</td>
        <td width="10%">进货价(RMB)</td>
        <td width="10%">总计(RMB)</td>
      </tr>
    </thead>
    <tbody id="details">
      {% for (d, v) in order['details'].items() %}
      <tr class="size">
        <td colspan="2"></td>
        {% for c in v['columns'] %}
        <td width="5%">{{ c.size }}</td>
        {% endfor %}
        <td colspan="4"></td>
      </tr>
      <tr class="data">
        <td>{{ v.number }}</td>
        <td>{{ v.description }}</td>
        {% for c in v['columns'] %}
        <td>{{ c.amount }}</td>
        {% endfor %}
        <td>{{ v.sum }}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
