{% extends "basic.html" %}
{% block bodyright %}
<div class="content">
  <h1>手动导入订单</h1>
  <hr/>
  <form method="post" class='form-horizontal'>
    <div class="form-group">
      <label class='col-sm-1 control-label'>订单号</label>
      <div class="col-sm-5">
        <input type='text' name='order_no' class="form-control" placeholder='输入订单号'/>
      </div>
    </div>
    <div class="form-group">
      <label class='col-sm-1 control-label'>时间</label>
      <div class="col-sm-5">
        <input type="text" id="datepicker" name="order_date"  class="form-control" placeholder="点击选择时间"/>
      </div>
    </div>
    <table class="table table-bordered table-hover table-condensed">
      <thead align='center'>
        <tr class='success'>
          <td width="10%">商品编号</td>
          <td width="20%">商品名称</td>
          <td colspan="6">尺寸</td>
          <td width="10%">总量</td>
          <td width="10%">销售价(￥)</td>
          <td width="10%">进货价(￥)</td>
          <td width="10%">总计(￥)</td>
        </tr>
      </thead>
      <tbody id="details" align='center'>
        <tr class="size success">
          <td colspan="2"></td>
          <td width="5%">XS</td>
          <td width="5%">S</td>
          <td width="5%">M</td>
          <td width="5%">L</td>
          <td width="5%">XL</td>
          <td width="5%">XXL</td>
          <td colspan="4"></td>
        </tr>
        <tr class="data">
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
          <td><input type="text" name=""/></td>
        </tr>
        <tr>
          <td colspan="12" align='center'>
            <button class='btn btn-primary' type="button" onclick="add_SML(this, 'clothes')">
              添加服饰栏目
            </button>
            <button class='btn btn-info' type="button" onclick="add_SML(this, 'shoes')">
              添加鞋靴栏目
            </button>
            <button class='btn btn-success' type="button" onclick="add_SML(this, 'customs')">
              添加自定义栏目
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="display:none;">
      <textarea name="details" id="details-data"></textarea>
    </div>
    <div class="form-group">
      <label class='col-sm-10 control-label'></label>
      <div class="col-sm-2">
        <button class='btn btn-primary' type="submit" onclick="get_details()">提交此订单</button>
      </div>
    </div>
  </form>
  <div id="template-area" style='display:none;'>
    <textarea class="add_clothes">
      <tr class="size success">
        <td colspan="2"></td>
        <td width="5%">XS</td>
        <td width="5%">S</td>
        <td width="5%">M</td>
        <td width="5%">L</td>
        <td width="5%">XL</td>
        <td width="5%">XXL</td>
        <td colspan="4"></td>
      </tr>
      <tr class="data">
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
          <td colspan="12" align='center'>
            <button class='btn btn-primary' type="button" onclick="add_SML(this, 'clothes')">
              添加服饰栏目
            </button>
            <button class='btn btn-info' type="button" onclick="add_SML(this, 'shoes')">
              添加鞋靴栏目
            </button>
            <button class='btn btn-success' type="button" onclick="add_SML(this, 'customs')">
              添加自定义栏目
            </button>
          </td>
      </tr>
    </textarea>
    <textarea class="temp_shoes">
      <tr class="size success">
        <td colspan="2"></td>
        <td width="5%">3739</td>
        <td width="5%">4042</td>
        <td width="5%">4345</td>
        <td width="5%">1922</td>
        <td width="5%">2730</td>
        <td width="5%"></td>
        <td colspan="4"></td>
      </tr>
      <tr class="data">
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="hidden" /></td>
        <td></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td colspan="12" align='center'>
          <button class='btn btn-primary' type="button" onclick="add_SML(this, 'clothes')">
            添加服饰栏目
          </button>
          <button class='btn btn-info' type="button" onclick="add_SML(this, 'shoes')">
            添加鞋靴栏目
          </button>
          <button class='btn btn-success' type="button" onclick="add_SML(this, 'customs')">
            添加自定义栏目
          </button>
        </td>
      </tr>
    </textarea>
    <textarea class="temp_customs">
      <tr class="size customs success">
        <td colspan="2"></td>
        <td width="5%"><input type="text" /></td>
        <td width="5%"><input type="text" /></td>
        <td width="5%"><input type="text" /></td>
        <td width="5%"><input type="text" /></td>
        <td width="5%"><input type="text" /></td>
        <td width="5%"><input type="text" /></td>
        <td colspan="4"></td>
      </tr>
      <tr class="data">
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
      </tr>
      <tr>
        <td colspan="12" align='center'>
          <button class='btn btn-primary' type="button" onclick="add_SML(this, 'clothes')">
            添加服饰栏目
          </button>
          <button class='btn btn-info' type="button" onclick="add_SML(this, 'shoes')">
            添加鞋靴栏目
          </button>
          <button class='btn btn-success' type="button" onclick="add_SML(this, 'customs')">
            添加自定义栏目
          </button>
        </td>
      </tr>
    </textarea>
  </div>
</div>
{% endblock %}
