{% extends "basic.html" %}
{% block body %}
<div class="content">
  <h1>ALL订单</h1>
  <hr/>
  <div>
    <span>订单号：{{ order.order_no }}</span>
    <span>时间：{{ order.date }}</span>
    <hr/>
    <table width="100%">
      <thead>
        <tr>
          <td width="10%">商品编号</td>
          <td width="20%">商品名称</td>
          <td colspan="6">尺寸</td>
          <td width="10%">总量</td>
          <td width="10%">销售价(RMB)</td>
          <td width="10%">进货价(RMB)</td>
          <td width="10%">总计(RMB)</td>
        </tr>
      </thead>
      <tbody id="details">
        {% for detail in order.details.all() %}
        <tr class="size">
          <td colspan="2"></td>
          <td width="5%">{{ detail.size1 }}</td>
          <td width="5%">{{ detail.size2 }}</td>
          <td width="5%">{{ detail.size3 }}</td>
          <td width="5%">{{ detail.size4 }}</td>
          <td width="5%">{{ detail.size5 }}</td>
          <td width="5%">{{ detail.size6 }}</td>
          <td colspan="4"></td>
        </tr>
        <tr class="data">
          <td>{{ detail.number }}</td>
          <td>{{ detail.description }}</td>
          <td>{{ detail.amount1 }}</td>
          <td>{{ detail.amount2 }}</td>
          <td>{{ detail.amount3 }}</td>
          <td>{{ detail.amount4 }}</td>
          <td>{{ detail.amount5 }}</td>
          <td>{{ detail.amount6 }}</td>
          <td>{{ detail.amount1 + detail.amount2 + detail.amount3 + detail.amount4 + detail.amount5 + detail.amount6 }}</td>
          <td>{{ detail.retail_price }}</td>
          <td>{{ detail.whole_sell_price }}</td>
          <td>{{ detail.total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
