{% extends "basic.html" %}
{% block bodyleft %}
<div class='panel panel-info'>
  <div class="panel-heading">基本信息</div>
  <div class="panel-body">
    预约总数：{{ basic['all-items'] }}
    <hr/>
    <a class='btn btn-primary' href='/reservation/create'>新增预约</a>
  </div>
</div>
{% endblock %}

{% block bodyright %}
<div class="content">
  <h1>预约列表</h1>
  <hr/>
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
        {% for reservation in reservations %}
        <tr class='success' align='center'>
          <td width='20%'>客户姓名</td>
          <td colspan='4'>预约信息</td>
        </tr>
        <tr align='center'>
          <td rowspan='5'>{{ reservation.name }}</td>
          <td width='20%'>联系方式</td>
          <td width='20%'>{{ reservation.contact }}</td>
          <td width='20%'>预约日期</td>
          <td width='20%'>{{ reservation.date }}</td>
        </tr>
        <tr align='center'>
          <td>客户地址</td>
          <td colspan='3'>{{ reservation.address }}</td>
        </tr>
        <tr align='center'>
          <td>预约物品</td>
          <td>{{ reservation.item.number }}</td>
          <td>预约数量</td>
          <td>{{ reservation.amount }}</td>
        </tr>
        <tr align='center'>
          <td>备注信息</td>
          <td colspan='3'>{{ reservation.note }}</td>
        </tr>
        <tr align='center'>
          <td>预约状态</td>
          <td colspan='3'>{{ reservation.status }}</td>
        </tr>
        {% else %}
        <tr align='center'>
          <td colspan='5' align='center'>暂无预约</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}