{% extends "basic.html" %}
{% block bodyleft %}
<div class='panel panel-info'>
  <div class="panel-heading">基本信息</div>
  <div class="panel-body">
    <form class='form'>
      <label>查找库存信息:</label>
      <input type="text" placeholder='商品编号...'/>
    </form>
  </div>
</div>
{% endblock %}

{% block bodyright %}
<div class="item-list">
    <h1>销售记录</h1>
    <hr/>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr class='success' align='center'>
          <td width="15%">时间</td>
          <td width="15%">仓库</td>
          <td width="15%">数量</td>
          <td width="20%">总额</td>
          <td width="10%">操作员</td>
          <td width="10%">操作</td>
        </tr>
      </thead>
      <tbody>
      {% for sell in sells %}
        {% set is_even = loop.index % 2 == 0 %}
        <tr class="size {% if is_even %}warning{% endif %}" align='center'>
          <td style="vertical-align:middle;">{{ sell['date'] }}</td>
          <td style="vertical-align:middle;">{{ sell['place'] }}</td>
          <td>{{ sell['amount'] }}</td> 
          <td>{{ sell['amount_money'] }}</td>
          <td>{{ sell['account'] }}</td>
          <td>
            <a class='btn btn-primary btn-xs' href="{{ url_for('sell.detail',id=sell.id) }}">查看详细</a>
          </td>
        </tr>
      {% else %}
        <tr align='center'>
          <td colspan='11'>暂无数据</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
