body {
    background-color: #f1f1f1;
    color: #888;
    font-family: Verdana, Arial, "微软雅黑", "黑体";
}

header {
    position: fixed;
    width: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 1px 0 rgba(0,0,0,.2),0 2px 7px rgba(0,0,0,.15);
}

header .orange{
    width: 100%;
    height: 4px;
    background-color: #50BCB6;
}

header .nav {
    width: 933px;
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

header .nav .left {
    width: 29%;
    height: 100%;
    text-align: left;
    float: left;
}

header .nav .left a.menu {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px 30px;
    background-image: url('/static/images/menu.png');
    margin: 15px 15px 15px 0;
}

header .nav .center {
    width: 40%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    float: left;
}

header .nav .center .app-title {
    background-image: url('/static/images/logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding-left: 55px;
    height: 50px;
    width: 250px;
    color: #888;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: 50px;
    text-align: left;
    display: block;
}

header .nav .right {
    width: 29%;
    height: 100%;
    text-align: right;
    float: left;
}

div.main {
    width: 933px;
    padding-top: 70px;
    margin: 0 auto;
}

div.main .content{
    padding: 10px;
    background-color: #fff;
    width: 100%;
    border-color: #bcbcbc;
    border-width: 1px;
    border-style: solid;
}

div.main .content h1{
    text-align: center;
}

div.main .message {
    width: 933px;
    z-index: 100;
    position: fixed;
}

div.main .message .item {
    width: 800px;
    padding: 10px;
    color: #f1f1f1;
    margin: 5px auto 2px auto;
    text-align: center;
    text-shadow: rgba(0,0,0,.2) 1px 1px 2px;
    border-radius: 5px;
    background-color: #50BCB6;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2),0 2px 7px rgba(0,0,0,.15);
}

div.main .message .normal {
    background-color: #50BCB6;
}

div.main .message .danger, div.main .message .error{
    background-color: #d9534f;
}

div.login-form {
    width: 300px;
    margin: 10px auto 0 auto;
}

div.login-form h1 {
    font-size: 1.5em;
    text-align: center;
}

div.login-form ul {
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #bcbcbc;
    border-style: solid;
}

div.login-form ul>li:first-child {
    background-color: #fff;
    padding: 10px; 
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-width: 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

div.login-form ul>li {
    background-color: #fff;
    padding: 10px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

div.login-form ul>li:last-child {
    background-color: #fff;
    padding: 10px; 
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

div.login-form ul>li button {
    width: 100px;
    height: 30px;
    margin: 0 80px;
    color: #eee;
    background-color: #50BCB6;
    border-radius: 5px;
    border-width: 0px;
    border-color: #bcbcbc;
}

div.login-form ul>li input {
    width: 180px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #f1f1f1;
}

div.login-form ul>li:hover {
    background-color: #fff8c8;
}

div.all-status{

} 

div.all-status .item:first-child {
    background-color: #fff;
    width: 33%;
    height: 100px;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-color: #bcbcbc;
}

div.all-status .item {
    padding: 10px;
    background-color: #fff;
    width: 30%;
    height: 100px;
    float: left;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #bcbcbc;
}

div.all-status .item h1{
    text-align: center;
}

div.item-list {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
}

div.order-item {
    width: 48%;
    height: 60px;
    margin: 2px;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #bcbcbc;
}

div#template-area {
    display: none;
}

hr {
    width: 100%;
    margin: 5px 0;
    height: 1px; 
    border-width: 0;
    background-color: #bcbcbc;
}

h1 {
    font-size: 1.5em;
}

form {
    margin: 10px;
    padding: 3px;
    background-color: #f1f1f1;
    border-color: #bcbcbc;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

form>div {
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    border-color: #bcbcbc;
    border-width: 1px;
    border-style: solid;
}

form tr input {
    width: 100%;
}

input {
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: #bcbcbc;
}


table {
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 3px;
    border-color: #bcbcbc;
    border-style: solid;
    border-width: 1px;
}

td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

thead td, tr.size td {
    background-color: #fff8c8;
}

td:last-child {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px 1px 0 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

tr:last-child td{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px 0px 1px 1px;
    border-color: #bcbcbc;
    border-style: solid;
}

tr:last-child td:last-child{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-color: #bcbcbc;
    border-style: solid;
}